---
title: Pivotal Developer Console (Alpha)
owner: Marketplace
---

<strong><%= modified_date %></strong>

<p class="note warning">
  <strong>Warning:</strong> <%= vars.product_full %> is currently in alpha and is intended for evaluation and
  test purposes only.
  This product is not currently intended for production environments.
  Do not use this product in any production environment.
</p>

<p class="note">
  <strong>Note:</strong> This product is only available to members of the <%= vars.product_short %> Early
  Adopter Program.
  For more information, please email <a href="mailto:pdc-feedback@pivotal.io"><%= vars.product_abbr %> Feedback</a>.
</p>

This documentation describes <%= vars.product_full %> (<%= vars.product_abbr %>).
<%= vars.product_short %> currently enables platform teams to curate a single set of brokered services for
use by app teams.

## <a id='overview'></a> Overview

This alpha version of <%= vars.product_abbr %> enables platform teams to register and curate Open Service Broker API (OSBAPI)
compliant service brokers, running anywhere, from a single centralized location.

App teams can then use these brokers to provision services and retrieve credentials through the `pdc` command
line tool (CLI).
The apps can then use these credentials to access the service instances, even if the apps exist across multiple
runtime environments, such as <%= vars.platform_name %> and <%= vars.k8s_runtime_full %>.

<p class="note">
    <strong>Note:</strong> The <%= vars.product_full %> team is especially keen for user feedback on the use of
    credentials by apps.
</p>

## <a id='features'></a> Key Features

<%= vars.product_full %> can:

* Register OSBAPI-compliant brokers
* Provide isolation for services within different app projects
* Create services and access them across multiple runtime environments

## <a id="snapshot"></a> Product Snapshot

The following table provides version information about <%= vars.product_short %>.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>CNAB version</td>
        <td>v0.1.0-alpha.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>Christmas</td>
    </tr>
    <tr>
        <td>Service Catalog Helm chart version</td>
        <td>v0.3.0-beta.1</td>
    </tr>
    <tr>
        <td>Projects Operator Helm chart version</td>
        <td>v0.4.2</td>
    </tr>
    <tr>
        <td><%= vars.product_abbr %> CLI version</td>
        <td>v0.1.3</td>
    </tr>
</table>

## <a id="reqs"></a> Requirements

To use <%= vars.product_short %> you must:

* Be signed up to the <%= vars.product_short %> Early Adopter Program
* Have a <%= vars.k8s_runtime_full %> Kubernetes cluster configured in OpenID Connect (OIDC).
For more information, see [Grant Cluster Access to a User](https://docs.pivotal.io/pks/manage-cluster-permissions.html#cluster-access-user).
* Have a sandbox environment for testing
* Have a Docker image registry that images can be relocated to

## <a id="limitations"></a> Limitations

### <a id="gen-lim"></a> General Limitations

* This product is in alpha. The structure of the product is subject to change in later versions.
* Pivotal does not provide commercial support for its alpha products.
* This product is intended to be used with any Kubernetes distribution. However, given the number of Kubernetes
vendors, versions, and configurations, not all of them have been tested with <%= vars.product_abbr %>.
* Product upgrades are currently not supported. To test a newer version, delete the previous version first.

## <a id="feedback"></a> Feedback

<%= partial vars.path_to_partials + '/developer-console/alpha-feedback' %>
