---
title: Pivotal Developer Console (Alpha)
owner: Marketplace
---

<strong><%= modified_date %></strong>

<p class="note warning">
<strong>Warning: </strong>
The <%= vars.product_full %> is currently in alpha and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.
</p>

This documentation describes the Pivotal Developer Console (PDC). The Pivotal Developer Console enables platform teams to curate a set of brokered services for use by application teams across many platforms (such as Kubernetes and PAS.)

## <a id='overview'></a>Overview

PDC allows platform teams to curate and register Open Service Broker API (OSBAPI) compliant service brokers, which can be running anywhere as long as they are accessible by PDC, to a single centralised location.

These brokers can then be used by application teams to provision services and retrieve credentials, via the `pdc` command line tool. Their applications, which could be living across multiple platforms, can then use these credentials to access the service instances.

## <a id='features'></a>Key Features

<%= vars.product_full %> includes the following key features:

* Register OSBAPI compliant brokers
* Create and access services on applications running across multiple platforms
* Have a docker image registry that images can be relocated to.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about <%= vars.product_short %>.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>CNAB version</td>
        <td>v0.1.0-alpha.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>Christmas</td>
    </tr>
    <tr>
        <td>Service Catalog Helm Chart version</td>
        <td>v0.3.0-beta.1</td>
    </tr>
    <tr>
        <td>Projects Operator Helm Chart version</td>
        <td>v0.4.2</td>
    </tr>
    <tr>
        <td>PDC CLI version</td>
        <td>v0.1.3</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

<%= vars.product_short %> has the following requirements:

* You must be signed up to and share Telemetry with Pivotal
* A Kubernetes cluster configured in [OIDC mode](https://docs.pivotal.io/pks/manage-cluster-permissions.html#cluster-access-user)
* A sandbox environment for testing

## <a id="limitations"></a>Limitations

### General Limitations

* This product is currently in alpha.
  * The structure of the product is fully subject to change in further alphas or later releases.
  * Pivotal does not provide commercial support for its alpha products.
* This product is intended to be used with any Kubernetes distribution. However, given the number of Kubernetes vendors, versions, and configurations, not all of them have been tested with PDC.
* Product upgrades are not supported. If you want to test a newer version, delete the previous version first.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about an issue, please email
[PDC Feedback](mailto:marketplace@pivotal.io).
