---
title: Installing and Configuring Pivotal Developer Console
owner: Marketplace
---

<strong><%= modified_date %></strong>

This topic describes how to install and configure <%= vars.product_full %>.

## <a id='overview'></a> Overview

<%= vars.product_short %> consists of a front end command line interface (CLI) named `pdc` and a backing set
of custom resource definitions (CRDs) and custom controllers.

## <a id='prereqs'></a> Prerequisites

* Private internal registry, such as Harbor
* Docker

## <a id='install'></a> Install and Configure <%= vars.product_short %>

### <a id='install-pdc'></a> Installing <%= vars.product_short %>

### <a id='install-duffle'></a> Install Duffle

1. Download the most recent Duffle binary from [duffle](https://github.com/deislabs/duffle/releases) in
GitHub.

1. Make the binary executable by running:

    ```
    chmod +x ~/Downloads/duffle-darwin
    ```

1. Move the binary to your path by running:

    ```
    mv ~/Downloads/duffle-darwin /usr/local/bin/duffle
    ```

1. Verify that Duffle works by running:

    ```
    duffle --help
    ```

<%# Insert a warning here about holding on to the YAML file for the sake of uninstallation %>

### <a id='relocate'></a> Relocate Images

To relocate images:

1. Log in to your private registry by running:

    ```
    docker login harbor.example.com
    ```

1. From Pivotal Network, download the <%= vars.product_short %> tarballs and the `pdc` CLI tool <%# Ask for details later. %>

1. Relocate the images by running:

    ```
    duffle relocate developer-console-VERSION.tgz \
        --bundle-is-file  \
        --relocation-mapping /tmp/mapping.json \
        --repository-prefix harbor.example.com/your-project
    ```

    Where `VERSION` is the number in the filename.

    This stores the mapping output in a file called `/tmp/mapping.json`.

### <a id='install-cnab'></a> Install the CNAB Bundle

To install the CNAB bundle:

1. Create a credentials file called `developer-console-creds.yaml` with the contents below.

    ```
    name: developer-console-creds
    credentials:
    - name: kubeconfig
      source:
        path: PATH-TO-KUBECONFIG # for example: /Users/pivotal/.kube/config
    - name: registry_url
      source:
        value: REGISTRY-URL # for example: https://harbor.example.com/my-project
    - name: registry_email
      source:
        value: REGISTRY-ACCOUNT-EMAIL
    - name: registry_username
      source:
        value: REGISTRY-USERNAME
    - name: registry_password
      source:
        value: REGISTRY-PASSWORD
    ```

1. Install the bundle, referencing the mapping file created in [Relocate Images](#relocate).

    ```
    duffle install developer-console developer-console-VERSION.tgz \
        --bundle-is-file \
        --credentials developer-console-creds.yaml \
        --relocation-mapping /tmp/mapping.json
    ```

    Where `VERSION` is the number in the filename.
