---
title: Release Notes for Developer Console
owner: Marketplace
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

## <a id="0-5-0"></a> v0.5.x–alpha.5

**Release Date:** MONTH DAY, 2020

### Features

New features and changes in this release:


### Resolved Issues

This release has the following fixes:


### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/developer-console/ki-registry-password" %>
<%= partial vars.path_to_partials + "/developer-console/ki-uaa-permissions" %>


## <a id="0-4-0"></a> v0.4.0–alpha.4

**Release Date:** June 8, 2020

<p class="note breaking"><strong>Breaking Change:</strong>
  The custom resource definition (CRD) <code>CloudFoundry</code>
  has been renamed as <code>CloudFoundryAPI</code>.
  You must ensure that your <code>cf.yaml</code> file references <code>CloudFoundryAPI</code>.
  For more information, see <a href="./using-providing.html#register-cfs">Register a Cloud Foundry Deployment</a>.
</p>

### Features

New features and changes in this release:

* **Resource access is granted at space-level:**
Access to resources within registered Cloud Foundry deployments is controlled at a space level and access
must be granted explicitly. For more information, see
[Create a Space Entitlement](./using-providing.html#space-entitlement).

* **Improved output for `pdc` commands:**
The `pdc binding list` and `pdc instance get` commands return the bound app for a binding.

### Resolved Issues

This release has the following fixes:

* **Broker names are validated:**
<%= vars.product_short %> now prevents the creation of brokers with names longer than 63 characters.
  You cannot create service instances for a broker registered with a name longer than 63 characters.

* **App and binding names are validated:**
When you create a binding, <%= vars.product_short %> now verifies if the app and binding names combined
are longer than 49 characters.
If the combined names are longer than 49 characters, the bind fails fast with a descriptive message.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/developer-console/ki-registry-password" %>
<%= partial vars.path_to_partials + "/developer-console/ki-uaa-permissions" %>


## <a id="0-3-1"></a> v0.3.1–alpha.3

**Release Date:** April 15, 2020


### Features

New features and changes in this release:

* You can register Cloud Foundry deployments with <%= vars.product_short %>.
You can then retrieve the registered Cloud Foundry deployments by running `pdc cloudfoundry list`.<br>
For more information, see [Register a Cloud Foundry Deployment](./using-providing.html#register-cfs).

* You can bind a service instance provisioned through <%= vars.product_short %>
to an app in a registered Cloud Foundry deployment by passing an additional flag of the form
`--app=CF-NAME/ORG-NAME/SPACE-NAME/APP-NAME` to `pdc binding create`.<br>
For more information, see
[Bind a Service Instance to an App That Runs in Cloud Foundry](./using-provisioning.html#bind-instance-to-cf).

* The Kubernetes API group for projects is now `projects.pivotal.io`.

* You can provide optional service-specific parameters when creating a new service instance or binding by using the flag
`--parameters=PARAMETERS-AS-JSON`.<br>
For more information, see
[Create a Service Instance](./using-provisioning.html#create-instance)
or [Bind a Service Instance to an App That Runs in Cloud Foundry](./using-provisioning.html#bind-instance-to-cf).

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/developer-console/ki-registry-password" %>
<%= partial vars.path_to_partials + "/developer-console/ki-uaa-permissions" %>
<%= partial vars.path_to_partials + "/developer-console/ki-long-si-names" %>
<%= partial vars.path_to_partials + "/developer-console/ki-app-and-binding-names" %>


## <a id="0-2-0"></a> v0.2.0–alpha.2

**Release Date:** February 21, 2020


### Features

New features and changes in this release:

* Adds the `pdc project list` command to enable app developers to view the projects that they have
access to

* Prevents the creation of projects with the same name as an existing namespace

* Validates that the project exists when a user runs `pdc project use`

* Renames `pdc broker delete` as `pdc broker deregister` to make it more consistent with other CLI command names


### Resolved Issues

This release has the following fix:

* The Kubernetes API version for Project CRD is now correctly labelled v1alpha1,
reflecting its alpha status.


### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/developer-console/ki-registry-password" %>
<%= partial vars.path_to_partials + "/developer-console/ki-uaa-permissions" %>
<%= partial vars.path_to_partials + "/developer-console/ki-long-si-names" %>


## <a id="0-1-0"></a> v0.1.0–alpha.1

**Release Date:** December 6, 2019

### Features

The initial alpha release enables:

* Registering of Open Service Broker API (OSBAPI) compliant service brokers
* Assignment of app teams to projects for isolation purposes
* Provisioning of instances within a project
* Creation of bindings for instances and retrieval of the credentials

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/developer-console/ki-unstable-api" %>
<%= partial vars.path_to_partials + "/developer-console/ki-registry-password" %>
<%= partial vars.path_to_partials + "/developer-console/ki-uaa-permissions" %>
<%= partial vars.path_to_partials + "/developer-console/ki-long-si-names" %>
